apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - networkpolicy.yaml

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: skillbox
      app.kubernetes.io/part-of: skillbox
